<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>templates 2</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			font-size: 12px;
		}
	</style>
	<script src="tript.js"></script>

	<script id="template" type="text/html">
		<div id="content">
			<p>Start of container</p>
			var tests = [ { name: 'David' }, { name: 'Max' }, { name: 'Bob' } ];
			for(var i in tests) {
				<h1>Headline <% i %></h1>
				<p>Hallo <% tests[i].name %></p>
				<p>Test</p>
			}
			<p>End of container</p>
		</div>
	</script>
</head>
<body>
	<script>
		document.body.innerHTML = T(template.innerHTML);
	</script>
</body>
</html>