<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>templates 2</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			font-size: 12px;
		}
	</style>
	<script src="templates2.js"></script>

	<script id="template2" type="text/html">
		<div id="content">
			var tests = [ { name: 'David' }, { name: 'Max' }, { name: 'Bob' } ];
			for(var i in tests) {
				<h1>Headline <% i %></h1>
				<p>Hallo <% tests[i].name %></p>
				<p>Test
				</p>
			}
			<p>End of container</p>
		</div>
	</script>

	<script>
		window.onload = function() {
			// templates #2
			document.body.innerHTML = template2.innerHTML.tpl();
		}
	</script>
</head>
<body>

</body>
</html>